:root {
  --b-darkblue: #262453;
  --b-darkblue-rgb: 38, 36, 83;
  --b-warmyellow: #f5cc5b;
  --b-maingreen: #43a796;
  --b-maingreen-rgb: 67, 167, 150;
  --b-orange: #eda63b;
  --b-greenblue: #136872;
  --b-flashgreen: #27c34e;
  --b-lightgray: #efefef;
  --sans-text: "OpenSans", Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--b-greenblue);
}

body {
  color: #262453;
  font-family: var(--sans-text);
  font-weight: 400;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
}

a {
  color: var(--b-maingreen);
}

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Typography
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child) {
  margin-bottom: 1rem;
}


p.highlight {
  font-size: 1.25rem;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

/* General form elements
  Labels
  Buttons
  Inputs: text, radio, checkbox
*/

fieldset {
  border: 0;
}

label {
  color: var(--b-darkblue);
  display: block;
  font-size: 0.75rem;
  padding-bottom: 0.5em;
}


.button,
button.text,
.input {
  color: var(--b-darkblue);
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  color: #fff;
  background-color: rgba(var(--b-darkblue-rgb), 0.7);
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s ease-out;
}

.button:hover {
  background-color: rgba(var(--b-darkblue-rgb), 1);
}

.button:focus {}

.button:focus:not(:active) {}

.button:active {
}

.button.hollow {
  color: rgba(var(--b-darkblue-rgb), 0.7);
  background-color: transparent;
  border-color: rgba(var(--b-darkblue-rgb), 0.4);
}

.button.hollow:hover {
  color: rgba(var(--b-darkblue-rgb), 1);
  border-color: rgba(var(--b-darkblue-rgb), 0.6);
}

.button.hollow.active {
  color: rgba(var(--b-darkblue-rgb), 1);
  font-weight: 700;
  background-color: rgba(var(--b-maingreen-rgb), 0.1);
  border-color: rgba(var(--b-maingreen-rgb), 1);
}

button.text {
  color: rgba(var(--b-darkblue-rgb), 0.4);
  border-radius: 0;
}

.input::placeholder {
  color: rgba(var(--b-darkblue-rgb), 0.4);
}

.input {
  border-radius: 2px;
  border: 1px solid rgba(var(--b-darkblue-rgb), 0.2);
  box-shadow: inset 0 .0625em .125em var(--b-lightgray);
  max-width: 100%;
  width: 100%;
  padding-left: 0.45em;
  padding-right: 0.45em;
}

.input:focus {
    box-shadow: 0 0 0 2px rgba(var(--b-maingreen-rgb), 0.25);
    border-color: rgba(var(--b-maingreen-rgb), 1);
}

.custom-amount {
  position: relative;
}

.custom-amount strong {
  color: rgba(var(--b-darkblue-rgb), 0.2);
  height: 2.5em;
  width: 2.5em;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-amount .input {
  padding-left: 2.5em;
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
}

.checkbox {
  align-items: start;
}

.radio {
  align-items: center;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  cursor: pointer;
}

.checkbox label,
.radio label {
  padding-bottom: 0;
}

.checkbox input + label,
.radio input + label {
  margin-left: 0.5em;
}

form section {
  padding: 1em 0;
}

form section header {
  padding-bottom: 0.5em;
}

form section p:not(:last-child) {
  margin-bottom: 1em;
}

/* Signup form Layout
*/

#signup {
  width: 32em;
  margin: 1em auto;
  padding: 1em;
  background-color: #fff;
}

@media screen and (max-width: 700px) { /* small screens only */

  #signup {
    width: 100%;
    margin: 0.5em auto;
  }

}

#header,
#footer {
  padding: 1em 0 0;
}

#header {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 80px 1fr;
  margin-bottom: 1em;
}

#header h2.logo {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

nav ul {
  display: flex;
}

nav li {
  color: rgba(var(--b-darkblue-rgb), 0.4);
  list-style-type: none;
  flex-grow: 1;
}

nav li button.text {
  font-size: 0.85em;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--b-lightgray);
  transition: 0.2s all ease-in;
  padding-bottom: 2px;
}

nav li button.text:hover {
  color: var(--b-maingreen);
  border-bottom-color: : rgba(var(--b-maingreen-rgb), 0.6);
}

nav li button.text.active {
  color: var(--b-maingreen);
  font-weight: 700;
  border-bottom: 2px solid var(--b-maingreen);
}

#amount {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  align-items: center;
}

#amount p.custom-amount input {
/*  width: 100%;*/

}

#amount div.other-amounts {
  display: flex;
}

#amount div.other-amounts p {
  flex: 1 1 0px;
  margin-left: 0.5em;
}

#amount div.other-amounts .button {
  border-radius: 50%;
  height: 0 !important;
  width: 100%;
  padding: calc(50% - 1px) 0;
  font-size: 1.2rem;
  line-height: 1;
}

#account-data header {
    margin-bottom: 0.5em;
}

#account-data header h4 {
    margin-bottom: 0;
}

#account-data label {
    font-weight: 700;
}

#payment div {
  padding: 1em 0.5em;
  border-bottom: 1px solid rgba(var(--b-darkblue-rgb), 0.4);
}

#payment div.active {
  background-color: var(--b-lightgray);
}

#payment p {
  margin-bottom: 0;
}

#payment div p:not(:first-child) {
  margin-top: 0.5em;
}

#payment p label i {
  margin-right: 0.25em;
}

#payment p.radio {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr auto;
}

#payment p.radio input {
  grid-column: 2 / span 1;
  grid-row-start: 1;
}

#payment p.radio label {
  font-size: 1rem;
  margin-left: 0;
  grid-column: 1 / span 1;
  grid-row-start: 1;
}

#payment p.radio input[type=radio]:checked + label {
  font-weight: 700;
  color: var(--b-maingreen);
}

#submit-form .button {
  font-weight: 700;
  width: 100%;
  background-color: var(--b-orange);
}
